@import '../../styles/common';

.base {
	@include containerPadding;
}

.list {
	@include resetList;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: rem(20);

	@include from(medium) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include from(large) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include from(xlarge) {
		grid-template-columns: repeat(4, 1fr);
	}
}
