@import '../../node_modules/normalize.css';
@import 'common';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: $fontFamily;
	font-size: $fontSizeBase;
	@include typographyParagraph;
	color: $colorText;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/
	height: 100vh;
	height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

h1 {
	margin: 0;
	@include typographyHeadline;
}

h2 {
	margin-top: 0;
	@include typographySubtitle;
}

p {
	margin-top: 0;
	@include typographyParagraph;
}

.visually-hidden {
	@include visuallyHidden;
}

.padding {
	@include containerPadding;
}

.reset-button {
	@include resetButton;
}

.center-text {
	text-align: center;
}
