@import '../../styles/common';

.base {
	display: flex;
	align-items: center;

	a {
		display: flex;
		padding: 0 rem(8);
		color: $colorHighlightText;
		text-decoration: none;

		&:global(.active) {
			font-weight: bold;
		}
	}
}
