@import '../../styles/common';

.base {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;

	a {
		display: flex;
		padding: rem(12);
		color: $colorHighlightText;
		text-decoration: none;
		transition: color $transitionDefault;

		&:global(.active) {
			color: $colorPrimary;
		}
	}

	@include from(medium) {
		flex-direction: row;
		align-items: center;

		a {
			padding: rem(20);
		}
	}
}
