@import '../../styles/common';

.base {
	flex-grow: 1;

	ul {
		@include resetList;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
	}

	a {
		display: flex;
		padding: rem(12);
		color: $colorHighlightText;
		text-decoration: none;
		transition: color $transitionDefault;

		&:global(.active) {
			color: $colorPrimary;
		}
	}

	@include from(medium) {
		ul {
			flex-direction: row;
			align-items: center;
		}

		a {
			padding: rem(20);
		}
	}
}
