@import '../../styles/common';

.base {
	display: flex;
	background: $colorHighlightBackground;
	color: $colorHighlightText;
	align-items: center;
	justify-content: space-between;
	padding: rem(8) rem(16);
}
